@font-face {
    font-family: 'Vazir-FD';
    src: url('../fonts/Vazir.woff');
}

body{
    font-family: 'Vazir-FD';
}

#title {
    background: #1565c0;
    padding: 20px;
    border: 3px solid black;
    margin: 20px;
}

.products {
    background: red;
}

#title h1{
    color: #ffffff;
}